{% extends "base_template.html" %}
{% block content %}
<form action="http://127.0.0.1:5000/ " method="POST" class="container form-horizontal data-form" enctype="multipart/form-data">
    <div class="group">
        <label class="control-label">File : </label>
        <input name = "file-content" class="form-control" type="file" required >
    </div>


    <div class="group">
        <label class="control-label">Weights(separated by ',') : </label>
        <input name = "weights" class="form-control" type="text" value="{{ request.form['weights'] }}" required placeholder="1,2,0.5,3 etc">
    </div>


    <div class="group">
        <label class="control-label">Impacts(separated by ',') : </label>
        <input name = "impacts" class="form-control" type="text" value="{{ request.form['impacts'] }}" required placeholder="+,-,+,-">
    </div>


    <div class="group">
        <label class="control-label">Email : </label>
        <input name = "email" class="form-control" type="email" value="{{ request.form['email'] }}" required placeholder="email@example.com">   
        
    </div>

    <button class="btn btn-info">Submit</button>

    <ul>
        {% for err in my_errors %}
            <li class="alert alert-danger">{{ err }}</li>
        {% endfor %}
    </ul>
    
</form>


{% endblock %}
