<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}"/> -->

    <style>
        .data-form {
            margin-top: 15%;
        }

        /* input {
            display: block;
            width: 600px;
            margin-left: 25%;
        } */

        button {
            margin-left: 45%;
            margin-top: 5px;
        }

        h1 {
            text-align: center;
            color: #1c3c63;
        }

    </style>
    <title>TOPSIS ALGORITHM</title>
</head>
<body>
    <h1 class="display-2">TOPSIS ALGORITHM</h1>

    <form action="http://127.0.0.1:5000/ " method="POST" class="container data-form" enctype="multipart/form-data">
        <input name = "file-content" class="form-control" type="file">
        <input name = "weights" class="form-control" type="text">
        <input name = "impacts" class="form-control" type="text">
        <input name = "email" class="form-control" type="email">

        <button class="btn btn-info">Submit</button>
    </form>
</body>
</html>